@import "reset";
@import "theme";

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #F5F5F5;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 900;
    border-bottom: #C4C4C4 solid 1px;
    a {
        color: #111;
        text-decoration: underline;
        &[href^="/"]  {
            text-decoration: none;
        }
    }
    ul {
        width: 100%;
        display: flex;
        list-style: none;
        align-items: center;
        li {
            margin-left: 1rem;
        }
    }
    div {
        width: 100%;
        display: flex;
        justify-content: end;
        p {
            display: block;
            width: fit-content;
            text-align: right;
            // make text gradient from left to right (from black to transparent)
            background: linear-gradient(to right, #000 50%, rgba(0,0,0,0) 100%);
            background-size: cover;
            color: #fff;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            -moz-background-clip:text;
            background-clip:text; 
            padding:0;
            margin:0;
            text-align:right;
        }
    }
}

.Egg {
    display: block;
    opacity: 0;
    transition: all 200ms;
    &:hover{
        opacity: 1;
    }
}

.alerts {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    .alert {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
        z-index: 1000;
        border-radius: 8px;
        animation: fadeOut 5s forwards;

        &success {
            background-color: #4CAF50;
            color: white;
        }
        &.error {
            background-color: #f44336;
            color: white;
        }
    }
    @keyframes fadeOut {
        80% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}