@import "function";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

form {
    position:relative;
    z-index: 2;
    display:flex;
    flex-direction:column;
    padding:2rem 1.5rem;
    width: 100%;
    @include desktop {
        max-width: 42rem;
    }
    background-color:white;
    margin: auto;
    border-radius:8px;
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.2);

    #title{
        display: flex;
        justify-content:center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .input {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        label {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
        input {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 0.8rem;
        }
    }
    input[type="submit"] {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 0.8rem;
        background-color: #ccc;
        cursor: pointer;
        &:hover {
            background-color: #aaa;
        }
    }
}

@media (max-width: 769px) {
    form{
        width:85%;
    }
}